@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------- */
/*             NAV              */
/* ---------------------------- */

.h_theBox {
  width: 100%;
  height: 137px;
  z-index: 10;
  position: relative;
}

.h_line {
  background: rgba(22, 16, 13, 0.49);
  box-shadow: 0px 0px 30px rgba(234, 224, 224, 0.24);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); /* Safari 9+ */
  z-index: 0;
}

.h_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  align-content: center;
  font-family: "Libre Bodoni";
  font-size: 25px;
  line-height: 31px;
  line-height: 39px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 2px 20px #eae0e0;
  color: #fff6d9;
  text-decoration: none;
  padding: 25px 0;
  margin-top: 30px;
}

header div ul li .active {
  border-bottom: 1px solid #c7b07b;
}

.h_navigation a:hover {
  width: 88px;
  height: 0px;
  border-bottom: 3px solid #c7b07b;
  position: relative;
  color: #c7b07b;
}

.h_navigation a {
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: #fff6d9;
  padding: 0 20px 28.25px 20px;
}

/* ---------------------------- */
/*            HOME              */
/* ---------------------------- */

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85vh;
  width: 50%;
  min-width: 700px;
  color: #fff6d9;
  margin-left: 85px;
  font-style: normal;
  font-weight: 400;
  background-position: right center;
}

.title_N_quote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-family: "Julius Sans One";
  font-size: 69px;
  line-height: 93px;
}

.quote {
  font-family: "Libre Bodoni";
  font-size: 30px;
  line-height: auto;
}

.signup {
  font-family: "Libre Bodoni";
  font-size: 70px;
  color: #FFF6D9;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
}

.newsBox {
  background: rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 20px rgba(9, 9, 9, 0.25);
  white-space: pre;
  padding-left: 25px;
  width: 307px;
}

.newsNews {
  width: 93px;
  font-family: "Julius Sans One";
  font-size: 32px;
  border-bottom: 3px solid #c7b07b;
  padding: 1px;
}

.newsTitle {
  font-family: "Libre Bodoni";
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.click-here {
  font-family: "Waiting for the Sunrise";
  color: white;
  left: 27em;
  bottom: 9em;
  font-size: 1em;
  display: inline;
  position: absolute;
  font-size: 1.75em;
}

.click-here img {
  rotate: 75deg;
  height: 6em;
  position: absolute;
  bottom: -3em;
  left: -5em;
}

/* ------------- */
/*     MENU      */
/* ------------- */

body {
  background: url(../images/Coffie-background-edited.png),
    radial-gradient(
      circle,
      rgba(0, 28, 36, 1) 10.95%,
      rgba(0, 0, 0, 1) 42.65%,
      rgba(4, 0, 0, 1) 76.19%,
      rgba(26, 13, 7, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  background-size: cover;
  margin: 0;
  background-attachment: fixed;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

.menu {
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 93px;

  color: #fff6d9;
  margin-top: 113px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.menu-coffees p {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;

  color: #fff6d9;
}

.menu-coffee {
  margin-right: 16px;
  cursor: pointer;
  margin-bottom: 12px;
}

.menu-coffee img {
  width: 151px;
  height: 151px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #9e9c9c;
}

.menu-coffee p {
  text-align: center;
}

.menu-subtitle {
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;

  color: #fff6d9;
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c7b07b;
  padding-bottom: 6px;
  margin-bottom: 18px;
}

.hidden {
  display: hidden;
}

.menu-coffee .monster-coffee {
  font-family: "Just Me Again Down Here";
  font-size: 40px;
  margin-top: 0.625em;
}

.menu-brewed-coffee {
  margin-top: 4.75em;
}

.go-back {
  font-family: "Waiting for the Sunrise";
  color: white;
  left: 25px;
  bottom: 2em;
  font-size: 1em;
  cursor: pointer;
}

.go-back p {
  display: inline;
  position: fixed;
  bottom: 1.5em;
  left: 3.5em;
  font-size: 1.75em;
  cursor: pointer;
}

.go-back img {
  rotate: 95deg;
  height: 10em;
  position: fixed;
  bottom: -1em;
  left: -1em;
  cursor: pointer;
}

.scroll-down {
  font-family: "Waiting for the Sunrise";
  color: white;
  font-size: 1em;
}

.scroll-down p {
  display: inline;
  position: fixed;
  bottom: 0.5em;
  right: 4em;
  font-size: 1.75em;
  z-index: -1;
}

.scroll-down img {
  rotate: 5deg;
  height: 10em;
  position: fixed;
  bottom: -1em;
  right: -1em;
  cursor: pointer;
  z-index: -1;
}

.personalize {
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 93px;

  color: #fff6d9;
  margin-top: 113px;
}

.personalize-cup img {
  filter: brightness(1000%);
}

.personalize-cup {
  color: #fff6d9;
}

.mug-size p {
  margin-right: 1em;
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;

  color: #fff6d9;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 21px;
}

.personalize-cup .size-active {
  color: #c7b07b;
}

.mug-size p:hover,
.coffee-monster:hover {
  color: #c7b07b;
}

.mug-size p::after {
  content: "|";
  margin-left: 1em;
}

.mug-size p:last-child:after {
  content: "";
}

.personalize-cup h3 {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */
  margin-left: 6em;
  width: 100%;
}

.coffee-monster {
  font-family: "Just Me Again Down Here";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 37px;
  /* identical to box height, or 92% */

  color: #fff6d9;
  margin-left: 1.25em;
  margin-top: 0;
  cursor: pointer;
}

.mug-size {
  margin-left: 5em;
  margin-bottom: 0;
}

.extras h2 {
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;

  color: #fff6d9;
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c7b07b;
  padding-bottom: 6px;
  margin-bottom: 18px;
  margin-right: 10em;
}

.extras {
  margin-left: 119px;
}

.extras p {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #fff6d9;
  cursor: pointer;
  padding-left: 1em;
}

.extra-choices {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;

  color: #fff6d9;
  background: rgba(82, 60, 45, 0.31);
  position: absolute;
  right: -9.8em;
  top: 11.7em;
  height: 470px;
}

.extra-choices p {
  margin-right: 179px;
  margin-left: 1em;
  cursor: pointer;
}

.personalisation {
  position: relative;
  margin-bottom: 3em;
}

.drawing {
  background-image: url(../images/drawing-tilted.svg);
  background-repeat: no-repeat;
  background-size: 6em;
}

.hidden {
  display: none;
}


/* ---------------------------- */
/*        OUR COFFEE            */
/* ---------------------------- */

.ourCoffee {
  display: flex;
  flex-direction: column;
  font-family: "Libre Bodoni";
  font-size: 30px;
  line-height: auto;
  color: #FFF6D9;
  margin-top: 70px;

}

.section1:last-child {
  border-bottom: 0;
}

.section1 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c7b07b;

}

.section2 {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #c7b07b;
}


.type {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.picture {
  width: 433px;
  height: 338px;

}
.nameCoffee {
  font-family: "Julius Sans One";
  margin-bottom: 50px;
  
}

.text {
  font-family: "Libre Bodoni";
  
}

/* ---------------------------- */
/*           CONTACT            */
/* ---------------------------- */

.contactPage {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  font-family: "Libre Bodoni";
  font-size: 30px;
  justify-content: space-between;
  margin: 70px 0 70px 0;
  height: 1000px

}

#map_N_parking {
  display:flex;
  flex-direction: column;
}
 iframe {
  height: 486px;
  width: 624px;
 }
.parking {
  margin-top: 30px;
  line-height: 2;
  
}

span h2 {
  margin-bottom: 10px;
}

#info_N_signup {
  display:flex;
  flex-direction: column;
  margin-left: 150px;
  
  
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  line-height: 2.5;
  font-size: 28px;
  height: 486px;
  width: 624px;  
}

.c_signup {
  margin-top: 30px;

}

.c_signup #memberGreet {
  font-family: "Julius Sans One";
  font-size: 40px;
  color: #c7b07b;
  margin: 30px 0 30px 0;

}

.c_signup button {
  background: transparent;
  border: none;
  font-family: "Libre Bodoni";
  color: #FFFFFF;
  font-size: 30px;
  margin: 30px 0 30px 0;

}

.c_signup p {
  font-family: "Libre Bodoni";
  color: #FFFFFF;
  font-size: 28px;
  margin: 30px 0 30px 0;

}

.fa-solid {
  color: #c7b07b;
}

/* ----------------- */
/*    MEMBER FORM    */
/* ----------------- */

.memberPage {
  font-family: "Libre Bodoni";
  display: flex;
  flex-direction: row;
  color: #FFF6D9;
  margin-top: 78px;
  font-size: 25px;

}

.m_img img {
  height: 735px;
  width: 621px;
  margin: 0px 130px 120px 0;
  border: 1px solid #9e9c9c;
  border-radius: 15px;

}

div .memberForm {
  width: 336px;
  height: 10px;
  background: none;
  
}

.m_form {
  display:flex;
  flex-direction: column;
  padding: 250px 150px 118px 150px;
  margin: auto;
  overflow: hidden;
  background: rgba(82, 60, 45, 0.31);
  position: absolute;
  top: 0;
  width: 621px;
}

.cardNo, .cardNo2{
  display: flex;
  flex-direction: row;
  width: 320px;
}

#expireMM, #expireYY {
  width: 100px;
}

#cnc {
  width: 70px
}

.areatext {
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0;
  border:none;
  border: 1px solid #FFF6D9;
  background: none;
  padding: 10px;
  outline: none;
  color: #FFF6D9;
  transition: 0.5s;
  /* z-index: 0; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.areatext:focus {
  box-shadow: 0 0 10px 4px #48453d;
  background: rgba(255, 246, 217, 0.25);
  color: #ffffff;
  font-size: 14px;
}

.m_submitButton {
  font-family: "Libre Bodoni";
  float: right;
  border: 0;
  background: transparent;
  color: #FFF6D9;
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 25px;

}

.m_submitButton:hover {
  background: #c7b07b;
  color: rgb(82, 60, 45);
}

/* ------------- */
/*    FOOTER     */
/* ------------- */

footer div {
  width: 50%;
}

footer {
  background-color: #040607;
  color: #c7b07b;
  border-top: 1px solid #c7b07b;
}

footer h2 {
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  margin-top: 24px;
  margin-bottom: 12px;

  color: #c7b07b;
}

footer label {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}

.right form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1em;
  margin-top: 24px;
}

.right {
  margin-right: 62px;
}

footer p {
  display: inline;
}

footer input,
footer textarea {
  background: #c7bfae;
  margin-bottom: 36px;
  font-family: "Libre Bodoni";
  font-size: 1.05em;
}

footer input:not(.submit) {
  height: 32px;
}

.formfield * {
  vertical-align: top;
}

.p-email {
  display: block;
  margin-bottom: 7px;
}

.left-email {
  margin-bottom: 27px;
  width: 504px;
}

.right input:not(.submit) {
  width: 337px;
}

.footer-social {
  width: 100%;
  margin-bottom: 27px;
}

.footer-social a {
  margin-right: 45px;
}

.submit {
  cursor: pointer;
  display: block;
  padding: 1em;
}

.footer-social i {
  font-size: 3em;
}

.footer-social a {
  text-decoration: none;
  color: #c7b07b;
}
